<div class="container d-flex h-100 justify-content-center">
    <div class="row align-items-center">
        <div class="col-12 my-auto mx-auto">
            <h1 class="h2 mt-4 text-center">Multi-Step Registration WizardBuild</h1>
            <div class="card mt-4">
                <ng-container [ngSwitch]="currentStep$ | async">
                    <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">
                        <ng-container *ngSwitchCase="'register'">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>{{ steps[0].title }}</h3>
                                </div>
                                <p class="card-text">
                                    {{ steps[0].content }}
                                </p>
                                <div class="d-grid gap-2 col-6 mx-auto my-4">
                                    <a
                                        (click)="changeStep('register', 'next')"
                                        routerLink="step-one"
                                        class="btn btn-primary"
                                        >Begin</a
                                    >
                                </div>
                            </div>
                        </ng-container>
                        <app-step-one
                            *ngSwitchCase="'stepOne'"
                            (itemReady)="loading = false"
                            [startingForm]="
                                stepOneComplete
                                    ? this.onboardingForm.get('stepOne')
                                    : !loading && onboardingForm.get('stepOne')?.value
                            "
                            (changeStep)="changeStep('stepOne', $event)"
                            (formInitialized)="initForm('stepOne', $event)"
                            (formComplete)="patchValue('stepOne', $event)"
                            [step]="steps[1]"
                        >
                        </app-step-one>
                        <app-step-two
                            *ngSwitchCase="'stepTwo'"
                            (itemReady)="loading = false"
                            [startingForm]="
                                stepTwoComplete
                                    ? this.onboardingForm.get('stepTwo')
                                    : !loading && onboardingForm.get('stepTwo')?.value
                            "
                            (changeStep)="changeStep('stepTwo', $event)"
                            (formInitialized)="initForm('stepTwo', $event)"
                            (formComplete)="patchValue('stepTwo', $event)"
                            [step]="steps[2]"
                        >
                        </app-step-two>
                        <app-step-three
                            *ngSwitchCase="'stepThree'"
                            (itemReady)="loading = false"
                            [startingForm]="
                                stepThreeComplete
                                    ? this.onboardingForm.get('stepThree')
                                    : !loading && onboardingForm.get('stepThree')?.value
                            "
                            (changeStep)="changeStep('stepThree', $event)"
                            (formInitialized)="initForm('stepThree', $event)"
                            (formComplete)="patchValue('stepThree', $event)"
                            [step]="steps[3]"
                        ></app-step-three>
                        <app-confirm
                            *ngSwitchCase="'confirm'"
                            (itemReady)="loading = false"
                            [startingForm]="
                                stepOneComplete && stepTwoComplete && stepThreeComplete
                                    ? this.onboardingForm
                                    : !loading && onboardingForm.value
                            "
                            (changeStep)="changeStep('confirm', $event)"
                            [step]="steps[4]"
                        >
                        </app-confirm>
                    </form>
                </ng-container>
            </div>
        </div>
    </div>
</div>
